body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(450deg, #e1e2e2, #f6e473);
    height: 100vh;
}


.btn-cadastro {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 20px;
    left: 1735px;
    gap: 10px;
    margin-top: 45px;
}

.btn-excluir {
    padding: 10px 20px;
    background-color: #ca4747;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.btn-atualizar {
    padding: 10px 20px;
    background-color: #cfc839;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.btn-cadastro:hover {
    background-color: #45a049;
}

.btn-excluir:hover {
    background-color: #a73535;
}

.btn-atualizar:hover {
    background-color: #b7b02d;
}
.btn-perfil:hover{
    background-color: #45a049;
}
.btn-voltar:hover{
    background-color: #45a049;
}

.btn-voltar{
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 20px;
    left: 1800px;
    gap: 10px; 
}
.btn-perfil {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 20px;
    left: 1800px;
    gap: 10px;
}

section {
    display: flex;
}

header {
    background-color: #242323;
    padding: 1rem;
    text-align: center;
    align-content: center;
    color: #fff;
    height: 80px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

#logo {
    margin-left: -600px;
    margin-top: -176px;
}

.menu-container {
    background: #242323;
    padding: 2rem;
    border-radius: 15px;
    max-width: 600px;
    margin-right: 20px;
    margin-top: 15px;
    color: #fff;
}

.menu-container h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.menu-item {
    background: #333;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: scale-down;
}

.menu-item h3 {
    margin: 1rem 0;
}

.cart-container {
    background: #242323;
    padding: 2rem;
    border-radius: 15px;
    max-width: 300px;
    color: #fff;
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

#cart-items li {
    margin-bottom: 0.5rem;
}

#total-price {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#finalize-btn {
    width: 100%;
    padding: 0.75rem;
    background: #a89c4b;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

#finalize-btn:hover {
    background: #857b3b;
}

section {
    display: flex;
    margin-left: 590px;
}