body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #e1e2e2, #f6e473);
    font-family: Arial, sans-serif;
}

#logo {
    margin-top: -299px;
    margin-left: 18%;
    width: 255px;
    height: 255px;
}

.cadastro-container {
    background: #242323;
    padding: 4rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 120px;
    color: white;
}

.cadastro-container h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

.input-group input {
    width: 93.5%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: #c0d369;
    outline: none;
    box-shadow: 0 0 5px rgba(181, 182, 89, 0.5);
}

.cadastro-btn {
    width: 100%;
    padding: 0.75rem;
    background: #a89c4b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.cadastro-btn:hover {
    background: #857b3b;
}

.link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #818a57;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #c3d581;
}