
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(450deg, #e1e2e2, #f6e473);
    margin: 0;
}

.perfil-container {
    background: #242323;
    padding: 4rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.perfil-container h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ddd;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="tel"] {
    width: 93.5%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
}

.input-group input:focus {
    border-color: #c0d369;
    outline: none;
    box-shadow: 0 0 5px rgba(181, 182, 89, 0.5);
}

.btn-atualizar {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: #a89c4b;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-atualizar:hover {
    background: #857b3b;
}

.btn-deletar {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: #dc3545;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-deletar:hover {
    background: #c82333;
}

.btn-voltar {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background: #0069d9;
}
