body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e1e2e2, #f6e473);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.prato-container, .prato-admin-container {
    background: #242323;
    color: #fff;
    padding: 3rem;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #f6e473;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #c0d369;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background: #a89c4b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: #857b3b;
}
